$text-heading: #2D3958;
$text-nav: #7B88A8;
$gradient: linear-gradient(92deg, #857FFF 32.21%, #FFC0EC 83.79%);
$icon-organ: #F9C45C;
$primary-black: #120F1F;
$color-black: #000;
$background-light: #F7F5F1;
$action-blue: #4F77FF;
$gray-footer: #292F3A;
$white: #fff;
$text-gray: #E7E5EA;