.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;
}
.header {
    background-color: #F7F5F1;
}
body {
    font-size: 15px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    height: 200vh;
}