svg(width="20", height="22", viewBox="0 0 20 22", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M2.53715 9.47134C2.80212 7.48412 4.49726 6 6.50207 6H13.4979C15.5027 6 17.1979 7.48412 17.4628 9.47135L18.3962 16.4713C18.7159 18.8693 16.8504 21 14.4313 21H5.56873C3.14958 21 1.2841 18.8693 1.60382 16.4713L2.53715 9.47134Z", stroke="#7B88A8", stroke-width="1.5")
  path(d="M14 8V5C14 2.79086 12.2091 1 10 1V1C7.79086 1 6 2.79086 6 5L6 8", stroke="#7B88A8", stroke-width="1.5", stroke-linecap="round")