svg(width="52", height="52", viewBox="0 0 52 52", fill="none", xmlns="http://www.w3.org/2000/svg")
  circle(cx="26", cy="26", r="26", fill="#4F77FF")
  path(d="M27.6497 35.893V26.0503H30.6079L31 22.5862H27.6497L27.6547 20.8522C27.6547 19.9487 27.7462 19.4648 29.1297 19.4648H30.9793V16H28.0204C24.4663 16 23.2155 17.6804 23.2155 20.5068V22.5864H21V26.0509H23.2155V35.7535C24.0786 35.9148 24.9709 36 25.8846 36C26.4748 36 27.0644 35.9643 27.6497 35.893Z", fill="white")