.button {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(24/14);
    text-transform: uppercase;
    padding: 18px 32px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4F77FF;
}