.topbar 
    a(href="/").topbar-logo 
        img(srcSet="./images/logo-frame.png 2x", alt="logo")
        p.topbar-text Pollock
    ul.menu 
        li.menu-list 
            a.menu-link Home 
        li.menu-list 
            a.menu-link Services 
        li.menu-list 
            a.menu-link About 
        li.menu-list 
            a.menu-link Pages 
        li.menu-list 
            a.menu-link Blog
        li.menu-list 
            a.menu-link Contact
    .topbar-right 
        include ../icons/_icon-search.pug
        include ../icons/_icon-bags.pug
        button.button Sign Up
.content 
    .content-left 
        h2.content-title 
            |Branding to fuel your growth
            span  goals &amp; ideas.
        p.content-text We're a digital product and UX agency in San Francisco. Strategy, design,and development across all platforms.
        .content-button 
            button.button Get Started
            .content-play 
                .content-icon
                    include ../icons/_icon-play 
                p.content-work How It Works
    .content-right 
        img(srcSet="./images/hero.png 2x", alt="hero").content-img 
img.shape1(srcSet="./images/1.png 2x", alt="shape 1")
img.shape2(srcSet="./images/2.png 2x", alt="shape 2")
img.shape3(srcSet="./images/3.png 2x", alt="shape 3")
img.shape5(srcSet="./images/5.png 2x", alt="shape 5")
img.shape6(srcSet="./images/6.png 2x", alt="shape 6")
img.shape7(srcSet="./images/7.png 2x", alt="shape 7")
img.shape8(srcSet="./images/8.png 2x", alt="shape 8")
img.shape9(srcSet="./images/9.png 2x", alt="shape 9")
.button-down 
    include ../icons/_icon-down.pug

        