.contact 
    h2.contact-title We design &amp; develop transformative user experiences from Silicon Valley
    p.contact-text Are you ready to start your project? Contact us today and get started!
    a.button.contact-button Get Started
    img.contact-shape10(srcSet="./images/10.png 2x", alt="")
    img.contact-shape11(srcSet="./images/11.png 2x", alt="")
    img.contact-shape12(srcSet="./images/12.png 2x", alt="")
    img.contact-shape13(srcSet="./images/13.png 2x", alt="")
    img.contact-shape14(srcSet="./images/14.png 2x", alt="")
    img.contact-shape15(srcSet="./images/15.png 2x", alt="")