.explore
    h2.explore-title Explore our recent client success stories and witness our full 360 transformations come to life
    .explore-list
        .explore-top
            .explore-item 
                img(srcSet="./images/explore-img1.png 2x", alt="").explore-img
                span.explore-text UX/UI Design
            .explore-item 
                img(srcSet="./images/explore-img2.png 2x", alt="").explore-img
                span.explore-text NFT Market UI
        .explore-bottom
            .explore-item 
                img(srcSet="./images/explore-img3.png 2x", alt="").explore-img
                span.explore-text Health Mobile App
            .explore-item 
                img(srcSet="./images/explore-img4.png 2x", alt="").explore-img
                span.explore-text Wallet App Development
