.footer
    .footer-top
        .footer-logo 
            img(srcSet="./images/logo-frame.png 2x", alt="logo")
            p.footer-text Pollock
        .footer-column 
            h3.footer-heading Company
            ul.footer-menu
                li.footer-list 
                    a.footer-link About
                li.footer-list 
                    a.footer-link Work
                li.footer-list 
                    a.footer-link Careers
                li.footer-list 
                    a.footer-link Pricing
                li.footer-list 
                    a.footer-link Blog
        .footer-column 
            h3.footer-heading Services
            ul.footer-menu
                li.footer-list 
                    a.footer-link Branding
                li.footer-list 
                    a.footer-link Websites
                li.footer-list 
                    a.footer-link Development
                li.footer-list 
                    a.footer-link Strategy
                li.footer-list 
                    a.footer-link Platforms
        .footer-column 
            h3.footer-heading Contact   
            ul.footer-menu
                li.footer-list 
                    a.footer-link Help Desk
                li.footer-list 
                    a.footer-link Docs
                li.footer-list 
                    a.footer-link Open a Ticket
                li.footer-list 
                    a.footer-link Chat
                li.footer-list 
                    a.footer-link Forum
        .footer-comment 
            h3.footer-heading Newsletter
            p.footer-sub Subscribe to our newsletter to keep up to date on our marketing, website, design services, and tips.
            form.footer-email(action="") 
                input(type="text", placeholder="Enter email").footer-input
                button.button.footer-button Submit
            p.footer-attend We hate spam as much as you do. We will never, ever send you such emails. 
    .footer-bottom
        p.footer-copyright © 2022 Pollock LLC. All Rights Reserved. Terms &amp; Conditions. Privacy Policy.
        .footer-links
            .footer-links-item 
                include ../../icons/_icon-facebook
                include ../../icons/_icon-twitter
                include ../../icons/_icon-linkin

