.product 
    h2.product-title Digital products that people love to use
    p.product-text Applying behavioral science to customer experience
    .product-design 
        .product-smart
            img(srcSet="./images/img-product.png 2x", alt="")
        .product-info 
            h3.product-heading Web3 Experience Design
            p.product-text2 In the new digital era, users are in control of content and community, and experience design is essential.
            .product-right
                .product-desc
                    include ../../icons/_icon-product1.pug
                    h4.product-head Design &amp; Development Systems
                p.product-content Chat, start meetings or join them with a click from within your conversation.
                .product-desc
                    include ../../icons/_icon-product1.pug
                    h4.product-head Design &amp; Development Systems
                p.product-content Chat, start meetings or join them with a click from within your conversation.
                .product-desc
                    include ../../icons/_icon-product1.pug
                    h4.product-head Design &amp; Development Systems
                p.product-content Chat, start meetings or join them with a click from within your conversation.
    img.shape-green(srcSet="./images/shape-green.png 2x", alt="shape")
    .product-design 
        .product-info 
            h3.product-heading We create world-class products
            p.product-text2 We're a web design agency creating next‑level websites by strategically blending user experience and brand storytelling.Our full‑stack design and development agency based in San Francisco provides front‑end and back‑end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
            a.button.product-button Discover Now
        .product-smart
            img(srcSet="./images/img-product2.png 2x", alt="")
    img.shape-purple(srcSet="./images/shape-purple.png 2x", alt="")
    .product-design 
        .product-smart
            img(srcSet="./images/img-product3.png 2x", alt="").product-img
        .product-info 
            h3.product-heading UI/UX design and branding agency
            p.product-text2 We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.The result is an action plan on executing a holistic brand and user experience.
            a.button.product-button Our Services
    img.shape-pink(srcSet="./images/shape-pink.png 2x", alt="")
            
