.service 
    h2.service-title We design engaging digital products used by millions of people
    p.service-text We team up with marketing departments of large companies and startups to deliver award‑winning websites
    .service-list 
        .service-item
            img.service-img(srcSet="./images/service-rocket.png 2x", alt="rocket")
            span.service-heading Branding
            p.service-content We design digital platforms to empower users and your brand's tribe.
        .service-item
            img.service-img(srcSet="./images/service-rocket.png 2x", alt="rocket")
            span.service-heading Branding
            p.service-content We design digital platforms to empower users and your brand's tribe.
        .service-item
            img.service-img(srcSet="./images/service-rocket.png 2x", alt="rocket")
            span.service-heading Branding
            p.service-content We design digital platforms to empower users and your brand's tribe.
    a.button.service-button View Our Services
    h2.service-brand Working with the most trusted brands in the industry
    .service-support 
        img(srcSet="./images/service-google.png 2x", alt="google")
        img(srcSet="./images/service-netflix.png 2x", alt="netflix")
        img(srcSet="./images/service-slack.png 2x", alt="slack")
        img(srcSet="./images/service-intercom.png 2x", alt="intercom")